.cart-area {
  
  height: 100%;
  display: flex;
  
}

.cart-itens-area {
  border: 2x solid red;
}

.cart-item-area {
  display: flex;
  width: 220px;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(202, 202, 202);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 3px;
  
  
}

.cart-item-img {
width:30px;
height: 30px;
margin-right: 10px;
}

.cart-item-title {
  font-size: 9px;
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}